@media (max-width: 710px) {
  .shoping-group-wrapper {
    padding: 10px;
    gap: 10px;
  }
}

@media (max-width: 645px) {
  .header__title {
    font-size: 45px;
    text-align: center;
  }

  .shoping-group-wrapper {
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }

  .shoping-group {
    width: 100%;
    max-width: 300px;
  }

  .empty-list {

    &__text {
      font-size: 5.5vh;

      &--sub {
        font-size: 2vh;
      }
    }
  }

  .add-shoping-list-btn {
    display: block;
    position: relative;
    transform: none;

    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    left: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 420px) {
  .header__title {
    font-size: 35px;
  }

  .shoping-group {

    &__title {
      font-size: 30px;
      font-weight: 500;
    }

    &__item {
      font-size: 25px;
      font-weight: 300;
      margin: 2px;

      span {
        font-size: 15px;
      }
    }

    &__button {
      width: 60px;
      height: 60px;

      svg {
        width: 17px;
        height: 17px;
      }

      &-add {

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .counter-btn {
    font-size: 25px;
  }
}