.footer {
  background-color: #272727;
  box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.363);
  text-align: center;

  &__text {
    font-weight: 300;
    color: #e2e2e2;
    padding: 10px;
  }

  &__link {
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }
}