.main {
  flex-grow: 1;
  background-color: #3f3f3f;
}

.add-shoping-list-btn {
  position: absolute;
  left: 50%;
  bottom: 6%;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border: 4px solid #919191;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all .3s;

  &:hover {
    background-color: #919191;

    svg path {
      fill: #3f3f3f;
    }
  }
}