.shoping-group {
  background-color: #858585;
  width: 30%;
  min-width: 190px;
  height: 100%;
  padding: 5px;
  color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #272727;

  &__title {
    margin: 5px;
    padding: 10px;
    background-color: #747474;
    border: 1px solid #535353;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #535353;
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      border-color: #e7e7e7;
    }
  }

  &__list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    position: relative;
    padding: 10px;
    border: 1px solid #c0bfbf;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    span {
      font-size: 10px;
      color: #e2e2e2c5;
    }

    &:hover {
      background-color: #727272;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__button {
    width: 45px;
    height: 35px;
    margin-top: 10px;
    padding: 10px;
    background-color: #b6b6b6;
    border: 2px solid #7e7e7e;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -5px #000000;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &:not([disabled]):hover {
      background-color: #9b9b9b;

      svg path {
        stroke: #ffffff;
      }
    }

    &-add {
      width: 100%;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        svg path {
          fill: #ffffff;
        }
      }
    }

    &--inactive {
      background-color: #646464fa;
      box-shadow: 0 0 0 0;

      cursor: default;

      svg path {
        fill: #ffffff;
        stroke: #ffffff;
      }
    }
  }
}

.counter-btn {
  font-size: 20px;
  color: #c0bfbf;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--minus {
    top: 47%;
    left: 2%;
    //временно
    display: none;
  }

  &--plus {
    right: 2%;
  }

  &:hover {
    color: inherit;
  }
}

.test {
  display: block;
}