.shoping-group {
  background-color: #605052da;
  width: 100%;
  min-width: 190px;
  max-width: 400px;
  height: 100%;
  padding: 5px;
  color: #cecece;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #292929;
  transition: all .3s;

  &:hover {
    transform: scale(1.03);
  }

  &__title {
    margin: 5px;
    padding: 15px;
    background-color: #605052;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #2e242c;
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 0px #7e7e7e;
      color: #ffffff;
    }
  }

  &__list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px 0px #2e242c;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    span {
      font-size: 10px;
      color: #e2e2e2c5;
    }

    &-text {
      display: inline-block;
      max-width: 210px;
    }

    &:hover {
      color: #ffffff;
      box-shadow: 0 0 5px 0px #2e242c;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__button {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    background-color: #605052;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 10px 0px #2e242c;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &:not([disabled]):hover {
      background-color: #69585a;
      box-shadow: 0 0 5px 0px #7e7e7e;
    }

    &-add {

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--inactive {
      background-color: #646464fa;
      box-shadow: none;

      cursor: default;

      svg path {
        fill: #7c7c7c;
        stroke: #7c7c7c;
      }
    }
  }
}

.counter-btn {
  font-size: 20px;
  color: #2e242cd2;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--minus {
    top: 47%;
    left: 2%;
    //временно
    display: none;
  }

  &--plus {
    right: 2%;
  }

  &:hover {
    color: inherit;
  }
}

.test {
  display: block;
}